@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;900&family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
body {
  background-image: url("../src/assets/images/bgrough.png");
}
.logo {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.circle {
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle {
  box-shadow: 5px 7px 17px rgba(0, 0, 0, 0.17);
}
.menu_mbl {
  /* box-shadow: 0px 28px 38px 42px rgba(0, 0, 0, 0.17); */
}
.hidden-scroll {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}
.bgrough {
  background: #f9f9f9;
}
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 99px;
}
.border-ava {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23FF76B6FF' stroke-width='8' stroke-dasharray='40%25%2c 38%25' stroke-dashoffset='37' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
}
.layout {
  grid-template-columns: minmax(14rem, 30%) 1fr;
}
.post {
  grid-template-columns: 1fr minmax(20rem, 30%);
}
